/* CSS STRUCTURE
    REMEMBER TO ADD SPECIFIC LINES TO FIND EACH SEGMENT :)
    General Styles
    Utilities
    Site Wide
    Thin Screen
    Ultrawide
*/

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
    background-color: var(--oslometgul);
}

:root {
    --oslometgul: hsl(50, 100%, 50%);
    --courseboxes: hsl(0, 0%, 81%);
    --valgfagboxes:  hsl(0, 0%, 60%); 
    --oslometblue: #56CEDE;
    --oslometorange: #FF8100;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    overflow: hidden;
}

header {
    background-color: var(--oslometgul);
    width: 100%;
    height: 4.5rem;
}

article {
    width: 60%;
    min-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

section {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 25%;
    padding: 0 5%;

}

h1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 3em;
}

/* || Utilities */
/* Tore leker seg */
.text-decoration-none {
    text-decoration: none;
}
.border-black{
    border: 5px solid black;
}
.field-of-study-list {
    align-items: center;
    background-image: url(/build/images/arrow-right.svg);
    background-position: center right 1.25rem;
    background-repeat: no-repeat;
    border-top: .0625rem solid #e2e2e2;
    color: #222;
    display: flex;
    padding: 1.1875rem 1.875rem 1.1875rem 0;
    text-decoration: none;
    transition: background .1s cubic-bezier(.24, .59, .38, .94)
}
.field-of-study > ul{
    border: 5px solid black;
}
.field-of-study ul {
    list-style-type: none;
}

.field-of-study li {
    display: inline-block;
    margin-right: 10px;
}
.field-of-study .item{
    border-right: .0625rem solid #222;
    color: #222;
    display: inline;
    font-size: 1rem;
    line-height: .875rem;
    margin-right: .625rem;
    padding-right: .625rem
}
.field-of-study .item:first-child{
    margin-left: 0;
    padding-left: 0
}
.field-of-study .item:last-child{
    border: none!important; /* !important rule overrides ALL previous styling rules for spesific property */
    margin-right: 0;
    padding-right: 0
}
/* Tore slutter å leke seg */
.section-yellow{
    background-color: var(--oslometgul);
    width: 100%;
}
.section-blue{
    background-color: var(--oslometblue);
    width: 100%;
}
.card {
    float: left;
    box-sizing: border-box;
    width: 30%;
    min-width: 300px;
    justify-content: space-evenly;
    background-color: rgb(246, 242, 242);
    border: 5px solid red;/* just to visualize */
    margin: 3em;
    box-shadow: 10px 10px 5px #11111110;
}
.card ul{
    text-align: left;
    
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* fixes a bit of scaling(im tierd and dont remeber how it works) */
main {
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*Make section of "studiets oppbygning" horozontily scrollable*/
.scrollable_section {
    overflow-x: auto;/* Enables horizontal scrolling */
    margin: 0;/* Reset margin */
    padding: 0; /* Reset padding */
}



/* -----Footer------ */
footer {
    background-color: var(--oslometgul);
    bottom: 0px;
}

.footer-top {
    text-align: center;
    padding: 1rem;
}

.footer-top p {
    font-size: larger;
    font-weight: 600;
    padding: 0.5rem;
}

.footer-top a {
    background-color: #111;
    padding: 1rem;
    color: white;
}

footer a {
    color: #111;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    text-decoration-line: underline;
}

footer ol {
    list-style: none;
    font-weight: 700;
}

footer li {
    padding-bottom: 0.4em;
}
footer section {
    display: grid;
    grid-template-columns: 30vw auto minmax(300px, 30vw) 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
    padding-left: 2rem;
}
.info {
    grid-column: 1 / 2;
}

.lenker {
    grid-column: 2 / 3;
}

.sosiale {
    grid-column: 3 / 4;
}

footer img {
    width: 1.5rem;
    padding: 1%;
}

.infoTitle {
    font-weight: 600;
    font-size: large;
}

.firstmedia {
    margin-top: -12%;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
}


video {
    margin-top: -20%;
    padding: 10px;
    padding-top: 50px;
    width: 80%;
    max-width: 1300px;
}

table,
th,
td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}


/* || UTILITIES */
.top-border {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    padding: 10px
}

.logo {
    position: absolute;
    height: 3rem;
    top: 0.6rem;
    left: 0.6rem;
}

.container-side-by-side {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


/* || Bachelor Structure */
/* classes related to the preview of semesters through the bachelor degree */
/* classes for the coruses are numerated by semester then class, 
course0203-box would be the box for the third class in the second semester*/
.emnegruppe{
    background-color: rgb(78, 78, 78);
    color: white;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}
 .year-wrapper{
    display: inline-grid;
    grid-template-columns: 25vw 0.5vh 25vw 0.5vh 25vw;
    justify-items: center;
 }
.semester-wrapper{
    display: grid;
    grid-template-columns: 10vw 0.5vw 10vw;
    grid-template-rows: 4vh 8vh 8vh 8vh 8vh 8vh 8vh 4vh;
    height: 100%;
    width: 100%;
    grid-gap: 0.5vw;
}
.semester-wrapper a{
    text-decoration: none;
}
.studieaar1{
    grid-column: 1;
}
.studieaar2{
    grid-column: 3;
}
.studieaar3{
    grid-column: 5;
}

.semester01{
    grid-column: 1;
}
.semester02{
    grid-column: 3;
}
.valgfag-info{
    grid-column: 1/4;
    grid-row: 9/13;
    background-color: var(--valgfagboxes);
    border-radius: 15px;
    margin-bottom: 0.5vh;
    box-shadow: 1px 1px 4px black;
}
.valgfag-seperator{
    grid-column: 1/-1;
    grid-row: 8;
    background-color: brown;
}


.course0101-box,
.course0102-box,
.course0103-box,
.course0104-box,
.course0201-box,
.course0202-box,
.course0203-box,
.course0301-box,
.course0302-box,
.course0303-box,
.course0401-box,
.course0402-box,
.course0403-box,
.course0501-box,
.course0502-box,
.course0503-box,
.course0601-box,
.course0602-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--courseboxes);
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}
.valgfag-box{
    background-color: var(--valgfagboxes); 
}
/* First semester */
.course0101-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0102-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0103-box{
    grid-column: 1;
    grid-row: 6/7;
}
.course0104-box{
    grid-column: 1;
    grid-row: 7/8;
}
/* Second semester */
.course0201-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0202-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0203-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Third semester */
.course0301-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0302-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0303-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Fourth semester */
.course0401-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0402-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0403-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Fifth semester */
.course0501-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0502-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0503-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Sixth semester */
.course0601-box{
    grid-column: 3;
    grid-row: 2/6;
}
.course0602-box{
    grid-column: 3;
    grid-row: 6/8;
}


/* || Bachelor structure Small screen */
@media only screen and (max-width: 800px){
    .year-wrapper .studieaar1,
    .year-wrapper .studieaar2,
    .year-wrapper .studieaar3{
        grid-column: 1/ -1;
        width: 100%;
    }
    .studieaar1,
    .studieaar2,
    .studieaar3{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-auto-flow: dense;
    }
    .semester-wrapper{
        width: 100Vw;
        grid-template-columns: 45vw 2vw 45vw;
        /* grid-template-rows: 4vh 5vh 5vh 5vh 5vh 5vh 5vh 0.1vh 1vh 1vh 1vh; */
        justify-content: center;
        grid-gap: 1vw;

    }
    .valgfag-info{
        grid-row: 8/10;
        content: "";
        clear: both;
        display: table;
    }

}


/* || Bachelor Structure */
/* classes related to the preview of semesters through the bachelor degree */
/* classes for the coruses are numerated by semester then class, 
course0203-box would be the box for the third class in the second semester*/
.emnegruppe{
    background-color: rgb(78, 78, 78);
    color: white;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}
 .year-wrapper{
    display: inline-grid;
    grid-template-columns: 25vw 0.5vh 25vw 0.5vh 25vw;
    justify-items: center;
 }
.semester-wrapper{
    display: grid;
    grid-template-columns: 10vw 0.5vw 10vw;
    grid-template-rows: 4vh 8vh 8vh 8vh 8vh 8vh 8vh 4vh;
    height: 100%;
    width: 100%;
    grid-gap: 0.5vw;
}
.semester-wrapper a{
    text-decoration: none;
}
.studieaar1{
    grid-column: 1;
}
.studieaar2{
    grid-column: 3;
}
.studieaar3{
    grid-column: 5;
}

.semester01{
    grid-column: 1;
}
.semester02{
    grid-column: 3;
}
.valgfag-info{
    grid-column: 1/4;
    grid-row: 9/13;
    background-color: var(--valgfagboxes);
    border-radius: 15px;
    margin-bottom: 0.5vh;
    box-shadow: 1px 1px 4px black;
}
.valgfag-seperator{
    grid-column: 1/-1;
    grid-row: 8;
    background-color: brown;
}


.course0101-box,
.course0102-box,
.course0103-box,
.course0104-box,
.course0201-box,
.course0202-box,
.course0203-box,
.course0301-box,
.course0302-box,
.course0303-box,
.course0401-box,
.course0402-box,
.course0403-box,
.course0501-box,
.course0502-box,
.course0503-box,
.course0601-box,
.course0602-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--courseboxes);
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}
.valgfag-box{
    background-color: var(--valgfagboxes); 
}
/* First semester */
.course0101-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0102-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0103-box{
    grid-column: 1;
    grid-row: 6/7;
}
.course0104-box{
    grid-column: 1;
    grid-row: 7/8;
}
/* Second semester */
.course0201-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0202-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0203-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Third semester */
.course0301-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0302-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0303-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Fourth semester */
.course0401-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0402-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0403-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Fifth semester */
.course0501-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0502-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0503-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Sixth semester */
.course0601-box{
    grid-column: 3;
    grid-row: 2/6;
}
.course0602-box{
    grid-column: 3;
    grid-row: 6/8;
}


/* || Bachelor structure Small screen */
@media only screen and (max-width: 800px){
    .year-wrapper .studieaar1,
    .year-wrapper .studieaar2,
    .year-wrapper .studieaar3{
        grid-column: 1/ -1;
        width: 100%;
    }
    .studieaar1,
    .studieaar2,
    .studieaar3{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-auto-flow: dense;
    }
    .semester-wrapper{
        width: 100Vw;
        grid-template-columns: 45vw 2vw 45vw;
        /* grid-template-rows: 4vh 5vh 5vh 5vh 5vh 5vh 5vh 0.1vh 1vh 1vh 1vh; */
        justify-content: center;
        grid-gap: 1vw;

    }
    .valgfag-info{
        grid-row: 8/10;
        content: "";
        clear: both;
        display: table;
    }

}


.tag-cloud {
    display: inline-block;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 1.3em;
    border-radius: 25px;
    background-color: black;
    margin-top: 8px;
}

.icon {
    width: 15px;
    height: 15px;
    padding: 0px;
}

.tag-cloud {
    display: inline-block;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 1.3em;
    border-radius: 25px;
    background-color: black;
    margin-top: 8px;
}

.icon {
    width: 15px;
    height: 15px;
    padding: 0px;
}
/* || SITEWIDE */

#burger-toggle{ display: none;}


.hamburger-toggle-container span {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;

}




.hamburger-toggle-container span:first-child{transform-origin: 0% 0%;}
.hamburger-toggle-container span:nth-last-child(2){transform-origin: 0% 100%;}


.hamburger-toggle-container .burger-toggle:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

.hamburger-toggle-container{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}


@media (min-width:701px){

    .hamburger-toggle-container span {
        display: none;
    }

    .menu {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        float: right;
    }

}


@media (max-width:700px){
    .hamburger-toggle-container span {
        display: block;
    }
    .menu {
        position: absolute;
        top: 3.5rem;
        right: 1.5rem;
        flex-direction: column;
        list-style-type: none;
    }

    .menu-icon {
        display: block;
        height: 40px;
        width: 40px;
    }

    .hamburger-toggle-container {
        cursor: pointer;
    }

    .menu li {
        height: 0px;
        overflow: hidden;
    }

    #burger-toggle:checked ~ .menu li {
        position: relative;
        height: 3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: var(--oslometgul);
        transition-duration: 1s;
    }
    
    nav {
        display: flex;
        height: 40px;
    }

}





.navbar .active {
    background-color: var(--oslometorange);
}

.navbar a {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.4rem;
}


/* Change the link color tohsl(50, 100%, 40%);(darker oslometgul) on hover accept the active one */

.navbar a:hover:not(.active, .logo-a){
    background-color: hsl(50, 100%, 40%);
}



/* || THINSCREEN */
/* all elements inside of this will only display when max monitor size is 800 px wide */
@media only screen and (max-width: 800px) {

    .scrollable_section {
        overflow-x: auto; /* Enables horizontal scrolling */
    }

    .center {
        white-space: nowrap;
        /* Prevent wrapping */
    }

    article {
        width: 100%;/* Allow full width for smaller screens */
        min-width: auto;/* Remove min-width to avoid overflow */
    }

    .smallermedia {
        width: 100%;
        margin: 10px;
    }

    .colorbox {
        display: none;
        height: none;
    }


    .footer-top {
        grid-row: 1;
        grid-column: 1;
    }

    .lenker {
        grid-row: 3;
        grid-column: 1;
    }

    .info {
        grid-row: 2;
        grid-column: 1;
    }

    .sosiale {
        grid-row: 4;
        grid-column: 1;
    }

    footer img {
        width: 1.5rem;
        padding: 1%;
    }

}


/* Center Pointlist*/
.pointList {
    margin-left: 50%;
    transform: translateX(-50%);
}

.pointList>ul {
    display: inline-block;
    text-align: left;
}

/* standard sections */
.img-with-text-section {
    padding: 2%;
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}


/* Activity specific */
.hero-activity {
    position: relative;
    width: 100%;
    object-fit: cover;
    text-align: center;
    color: white;
}

.hero-activity-img {
    filter: blur(4px) brightness(0.6);
}

.activity-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-article-activity {
    height: 15vmax;
    width: 50vmax;
}

/*Main page styling*/
.colorbox {
    background-color: var(--oslometblue);
    height: 15vmax;
    width: 100%;
}

h1+p {
    margin-top: 0;
    font-size: 2em;
}


/*Navigation for scrolling*/
.navdot {
    height: 50px;
    width: 50px;
    border-color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    display: inline-block;
}

.pil {
    margin-top: 10px;
    margin-right: 9px;
    height: 25px;
    width: 25px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pil:hover {
    transform: rotate(45deg);
    margin-top: 10px;
    margin-right: 0px;
    border-color: orangered;
}

.sideNavList {
    list-style-type: none;
}

/* || ULTRAWIDE */

@media only screen and (min-width:2500px) {
    video {
        margin-top: -25%;
    }
}

.jorndev{
    background-color: rgb(159, 159, 255);
}