/* CSS STRUCTURE

    REMEMBER TO ADD SPECIFIC LINES TO FIND EACH SEGMENT

    General Styles 1-1
        Format 1-1
        Text 1-1
        Table 1-1
    Site Wide 1-1
        Utilities 1-1
        Header 1-1
        Body 1-1
        Footer 1-1
        Media 1-1
    Page Specific 1-1
        Index 1-1
        Accessibility 1-1
        Git 1-1
        Activity 1-1
    Media Queries 1-1
        Thin Screen 1-1
            Site Wide 1-1
            Index 1-1

        Ultrawide 1-1
*/

/* notater for sorterting 
cards for sitewide */

/* Ascii art made big enough to read in the file navigator */

/* || General Styles
 _______  _______  _        _______  _______  _______  _          _______ _________          _        _______  _______ 
(  ____ \(  ____ \( (    /|(  ____ \(  ____ )(  ___  )( \        (  ____ \\__   __/|\     /|( \      (  ____ \(  ____ \
| (    \/| (    \/|  \  ( || (    \/| (    )|| (   ) || (        | (    \/   ) (   ( \   / )| (      | (    \/| (    \/
| |      | (__    |   \ | || (__    | (____)|| (___) || |        | (_____    | |    \ (_) / | |      | (__    | (_____ 
| | ____ |  __)   | (\ \) ||  __)   |     __)|  ___  || |        (_____  )   | |     \   /  | |      |  __)   (_____  )
| | \_  )| (      | | \   || (      | (\ (   | (   ) || |              ) |   | |      ) (   | |      | (            ) |
| (___) || (____/\| )  \  || (____/\| ) \ \__| )   ( || (____/\  /\____) |   | |      | |   | (____/\| (____/\/\____) |
(_______)(_______/|/    )_)(_______/|/   \__/|/     \|(_______/  \_______)   )_(      \_/   (_______/(_______/\_______) 
Format 1-1
Text   1-1    */
/*  -Format */

html {
    scroll-behavior: smooth;
}

:root {
    --primarycolor: hsl(286, 100%, 67%);  /* Når vi finner farge vi vil lande på: https://venngage.com/tools/accessible-color-palette-generator // https://coolors.co/contrast-checker/07111d-ccb3e6 */
    --secondarycolor: hsl(0, 100%, 94%);
    --highlightcolor: hsl(30, 100%, 50%);
    --courseboxes: hsl(0, 0%, 81%);
    --valgfagboxes: hsl(0, 0%, 76%);
    --card-background:hsl(0, 18%, 96%);
    --black:hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --blackshadow: hsla(0, 0%, 7%, 0.063);
    --table-odd: hsl(60, 100%, 94%);
    --table-even: hsl(60, 80%, 90%);
}


main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondarycolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

article {
    margin-left: auto;
    margin-right: auto;
    scroll-margin: 30vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  -Text */


.intro, h1,h2, h1+p, h4 {text-align: center;}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 3em;
}

h1+p,
h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}


a {
    text-decoration: none;
}

.link-underline a,
.card a {
    font-weight: bold;
    border-bottom: 2px
    
}

.link-underline a:hover {
    border-bottom: 2px solid black;
}


.text-section {
    width: 100%;
    padding: 1rem 4rem 1rem 4rem;
}

.text-section h1,
.text-section h2,
.text-section h3,
.text-section h4{font-size: 2rem;}

.center-text {
    margin-left: auto;
    margin-right: auto;
}

/* -Table */
table{
    border-collapse: collapse;
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

tr {
    border-bottom-style: solid;
    border-bottom-color: var(--black);
    border-bottom-width: 1px;
}

th, td {
    border-style: dashed;
    border-color: var(--black);
    border-width: 1px;
    padding-left: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
    padding: 1vw;
}

tbody tr:nth-child(odd) {background-color: var(--table-odd)}
tbody tr:nth-child(even),thead {background-color: var(--table-even)}

/* ────────────────────────────────────────────────────────────── */

/* || Site Wide
 _______ __________________ _______            _________ ______   _______ 
(  ____ \\__   __/\__   __/(  ____ \  |\     /|\__   __/(  __  \ (  ____ \
| (    \/   ) (      ) (   | (    \/  | )   ( |   ) (   | (  \  )| (    \/
| (_____    | |      | |   | (__      | | _ | |   | |   | |   ) || (__    
(_____  )   | |      | |   |  __)     | |( )| |   | |   | |   | ||  __)   
      ) |   | |      | |   | (        | || || |   | |   | |   ) || (      
/\____) |___) (___   | |   | (____/\  | () () |___) (___| (__/  )| (____/\
\_______)\_______/   )_(   (_______/  (_______)\_______/(______/ (_______/
Utilities 1-1
Header 1-1
Body 1-1
Footer 1-1
Media 1-1                                                                          
*/

/* -Utilities */
.heading {
    font: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--black)
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.card {
    float: left;
    overflow: hidden;
    box-shadow: 10px 10px 5px var(--blackshadow); /* https://www.w3schools.com/css/css3_shadows_box.asp */
    box-sizing: border-box;
    width: 30%;
    border-radius: 25px;
    min-width: 150px;
    background-color: var(--card-background);
}

.card-wide{width: 65%;}

.card-img{
    margin: 3rem;
    min-width: 400px;            
}



.pagenavigationsection {
    display: flex;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.pagenavigation,
.pagenavigation ul  {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black;
    padding: 0;
    padding-bottom: 3px;
    list-style: none;
    list-style-position: inside;
}


.pagenavigation>li>a {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}

.pagenavigation>li>ul>li {padding-bottom: 7px;}

.pagenavigation>li>a::before,
.pagenavigation ul li::before {content: "────";}

/* Class for scrolling */
.scroll-top {
    position: fixed;
    z-index: 12;
    display: flex;
    bottom: 1vw;
    right: 1vw;
}

.scroll-top a {
    border-radius: .25rem;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    background-color: hsl(240, 100%, 50%);
}


/* -Header */

header:not(.activity-header) {
    z-index: 20;
    height: 4.5rem;
    width: 100%;
    background-color: var(--primarycolor);
}

.navbar .active {background-color: var(--highlightcolor);}

.navbar a {
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
}


.navbar a:hover:not(.active, .logo-a) {background-color: var(--secondarycolor)}
#burger-toggle {display: none;}

.hamburger-toggle-container img {height: 2.5rem;}

.hamburger-toggle-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.logo {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    height: 3rem;
}


/* -Footer START*/
footer {
    bottom: 0px;
    background-color: var(--primarycolor);
}

/* footer-top class seperates the top of the footer from the rest.
to get the footer to be built out of two seperate parts*/
.footer-top {
    padding: 1rem;
    text-align: center;
}

.footer-top p {
    padding: 0.5rem;
    font-size: larger;
    font-weight: 600;
}

.footer-top a {
    padding: 1rem;
    color: white;
    background-color: var(--black);
}


footer a {
    color: var(--black);
    font-weight: 700;
}

footer a:hover {text-decoration-line: underline;}

footer ul {
    list-style: none;
    font-weight: 700;
}

footer li {padding-bottom: 0.4em;}

footer article {
    display: grid;
    grid-template-columns: 30vw auto minmax(300px, 30vw) 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
    padding-left: 2rem;
}



.info,
.lenker,
.sosiale {justify-self: center;}

.info {grid-column: 1 / 2;}
.lenker {grid-column: 2 / 3;}

.sosiale {
    grid-column: 3 / 4;
    margin-top: 0;
    max-width: fit-content;
}

footer img {
    position: relative;
    padding: 2%;
    vertical-align: middle;
}

/* -Footer END*/


/* -Media */
.firstmedia {
    margin-top: -12%;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    width: 80%;
    max-width: 1000px;
    border-style: solid;
}

video {
    margin-top: -15%;
    max-width: 1200px;
    border-style: solid;
}


/* -Body */
.section-primary-color {
    width: 100%;
    background-color: var(--primarycolor);
}

.section-secondary-color {
    width: 100%;
    background-color: var(--secondarycolor);
}

.colorbox {
    height: 15vmax;
    width: 100%;
    background-image: linear-gradient(var(--primarycolor), var(--secondarycolor));
}

/* ────────────────────────────────────────────────────────────── */

/* || Page Specific
 _______  _______  _______  _______    _______  _______  _______  _______ _________ _______ _________ _______ 
(  ____ )(  ___  )(  ____ \(  ____ \  (  ____ \(  ____ )(  ____ \(  ____ \\__   __/(  ____ \\__   __/(  ____ \
| (    )|| (   ) || (    \/| (    \/  | (    \/| (    )|| (    \/| (    \/   ) (   | (    \/   ) (   | (    \/
| (____)|| (___) || |      | (__      | (_____ | (____)|| (__    | |         | |   | (__       | |   | |      
|  _____)|  ___  || | ____ |  __)     (_____  )|  _____)|  __)   | |         | |   |  __)      | |   | |      
| (      | (   ) || | \_  )| (              ) || (      | (      | |         | |   | (         | |   | |      
| )      | )   ( || (___) || (____/\  /\____) || )      | (____/\| (____/\___) (___| )      ___) (___| (____/\
|/       |/     \|(_______)(_______/  \_______)|/       (_______/(_______/\_______/|/       \_______/(_______/
Index 1-1
Accessibility 1-1
Git 1-1
Activity 1-1                                                                                                               
*/

/* -Index */
a.skiplinklist {
    position: absolute;
    z-index: -10;
    overflow: hidden;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    background-color: var(--black);
}

a.skiplinklist:focus,
a.skiplinklist:active {
    z-index: 10;
    overflow: auto;
}
/* Black tag-cloud code from https://www.w3schools.com/howto/howto_css_tag_cloud.asp */
.tag-wrap {
    max-width: 70%;
    text-align: center;
}

.tag-cloud {
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    color: white;
    font-family: Arial;
    font-size: 1.3em;
    background-color: var(--black);
}

.tag-cloud img {padding: 0px;}

.info-box {
    margin: 3em;
    padding: 2em;
}

.profile-POC {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-family: arial;
    box-shadow: 10px 10px 8px 4px var(--blackshadow);
    background-color: var(--card-background);
}

.profile-POC-position {color: rgb(87, 87, 87);}

.field-of-study ul {margin: auto;}

/* Important that field-of-study li is kept in this order */
.field-of-study li {
    margin-right: 10px;
    list-style: none;
    background-color: var(--card-background);
}

/* Effects second list */
.field-of-study .item li {
    display: inline;
    color: var(--black);
    border-right: .0625rem solid var(--black);
    margin-right: .625rem;
    padding-right: .625rem;
    line-height: .875rem;
    font-size: 1rem;
}
/* Effects only first list */
.field-of-study>li {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: var(--black);
    width: 50vw;
    min-width: 400px; 
}
/* Field of study specific order end */

/* No border on last child in nested list */
.item li:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.field-of-study-list {
    align-items: center;
    color: var(--black);
    display: flex;
    min-height: 110px;
    padding: 1.1875rem 1.875rem 1.1875rem 0;
}

.field-of-study-list>p {
    width: 33%;
    padding-left: 3vw;
}

.field-of-study-icon {
    margin-left: auto;
    width: 15px;
    height: 15px;
    padding: 0px;
}

/*https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html */
/* arrow animation on field of study element */
.field-of-study li:hover img {
    transform: translate3D(0, -1px, 0) scale(2);
    transition: all .4s ease;
    cursor: pointer;
}

/* -|Bachelor structure */
/* classes related to the preview of semesters through the bachelor degree */
/* classes for the courses are numerated by semester then class, 
course0203-box would be the box for the third class in the second semester*/
.subject-group {
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center;
    color: white;
    background-color: rgb(78, 78, 78);
}

.year-wrapper {
    display: grid;
    grid-template-rows: 20vw 2vw 20vw 2vw;
    justify-items: center;
    margin-top: 10px;
}

.semester-wrapper {
    display: grid;
    grid-template-rows: 9vw 0.5vw 9vw;
    grid-template-columns: 8vh 15vh 15vh 15vh 15vh 18vh 18vh;
    grid-gap: 0.5vw;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1vh;
}

.year1 {grid-row: 1;}
.year2 {grid-row: 3;}
.year3 {grid-row: 5}

.semester01,
.semester02{
    display: flex;
    border-bottom: 5px solid black;
}
.semester01 {grid-row: 1;}
.semester02 {grid-row: 3;}

.card-subject {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 5px;
}

.valgfag-box {background-color: var(--valgfagboxes);}

.valgfag-box div p{margin:0.3em;}

/* First semester */
.course0101-box {
    grid-row: 1;
    grid-column: 2/4;
}

.course0102-box {
    grid-row: 1;
    grid-column: 4/6;
}

.course0103-box {
    grid-row: 1;
    grid-column: 6/7;
}

.course0104-box {
    grid-row: 1;
    grid-column: 7/8;
}


/* Second semester */
.course0201-box {
    grid-row: 3;
    grid-column: 2/4;
}

.course0202-box {
    grid-row: 3;
    grid-column: 4/6;
}

.course0203-box {
    grid-row: 3;
    grid-column: 6/8;
}

/* Third semester */
.course0301-box {
    grid-row: 1;
    grid-column: 2/4;
}

.course0302-box {
    grid-row: 1;
    grid-column: 4/6;
}

.course0303-box {
    grid-row: 1;
    grid-column: 6/8;
}

/* Fourth semester */
.course0401-box {
    grid-row: 3;
    grid-column: 2/4;
}

.course0402-box {
    grid-row: 3;
    grid-column: 4/6;
}

.course0403-box {
    grid-row: 3;
    grid-column: 6/8;
}

/* Fifth semester */
.course0501-box {
    grid-row: 1;
    grid-column: 2/4;
}

.course0502-box {
    grid-row: 1;
    grid-column: 4/6;
}

.course0503-box {
    grid-row: 1;
    grid-column: 6/8;
}

/* Sixth semester */
.course0601-box {
    grid-row: 3;
    grid-column: 2/6;
}

.course0602-box {
    grid-row: 3;
    grid-column: 6/8;
}

/* -Accessibility */
.table-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}

.top-tables{
    width: 40%;
}

.bottom-table{
    width:50%;
}

.accessibility-table td:nth-child(2){
    width:50%;
}

/* -Git */

.git-table{width: 90%;}
.git-table th:nth-child(odd){width: 20%;}
.git-table th:nth-child(2){width: 60%;}

/* -Activity */
/* Header Activity START */
.navbar-activity {
    position: absolute;
    z-index: 9;
    width: 100%;
}

/*activityFooter klassen er laget spesefikt for Activity-pagen, slik at footeren skiller seg ut fra de andre sidene og bedre matcher temaet til siden.*/
.activityFooter p {
    padding: 0.5rem;
    font-size: larger;
    font-weight: 600;
}

.activityFooter a {
    padding: 1rem;
    color: white;
    background-color: var(--black);
}

.activityFooter {
    padding: 7px;
    text-align: center;
    background-color: lightgrey;
}



.img-with-text-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    align-items: center;
    column-gap: 10%;
    padding: 2%;
}

/* Hero Activity START https://www.w3schools.com/howto/howto_css_hero_image.asp*/
.hero-activity {
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/images/activity/hero-activity.jpg");

    /* Set a specific height */
    height: 550px;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* styling of title and subtitle on hero*/
.hero-activity h1 {margin-top: 12rem;}
.hero-activity p {padding-top: 0.2rem;}

.hero-activity h1,
.hero-activity p {
    color: var(--white);
}
/* Hero Activity END */


/* burger menu icon*/
.activity-header .hamburger-toggle-container {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: 10px;
}

.activity-header .hamburger-toggle-container img {
    display: block;
    width: 40px;
    height: 40px;
}

.activity-header .hamburger-toggle-container {cursor: pointer;}

/* Burger Dropdown */
.activity-header .menu {
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0rem;
    flex-direction: column;
    border-radius: 25px;
    width: 20rem;
    margin-top: -0rem;
    padding-left: 0;
    list-style-type: none;
    background-color: var(--black);
}

.activity-header .menu li {
    overflow: hidden;
    height: 0px;
    text-align: center;
    color: var(--white);
}

/* on hover burgermenu item in activity change color, but not logo ass it should not have hover effect */
.navbar-activity .navlist:hover:not(.active, .logo-a, .hamburger-toggle-container) {
    background-color: hsl(0, 1%, 32%);
}

/* when burger menu button clicked changes the menu element to show/expand*/
.activity-header #burger-toggle:checked~.menu li {
    position: relative;
    transition-duration: 0.3s;
    border-radius: 25px;
    height: 3rem;
    padding: 3rem;
}

/* Header Activity END */

.shadow-bottom {box-shadow: 0px 10px 5px var(--blackshadow);}
.shadow-top {box-shadow: 0px -10px 5px var(--blackshadow);}

/* Trip List from activity page START */
.trip-listitem {
    width: 30%;
    min-width: 300px;
    border-radius: 25px;
    padding: 0;
    margin: 1vw;
}

.image-box-card {
    overflow: hidden;
    max-height: 12.5rem;
    margin-top: -2rem;
}

.trip-listitem img {
    margin-top: -1.5rem;
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

/*Makes cards popp when hovered, but might make user believe it's a link. 
https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html*/
.trip-listitem:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);     /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
    transition: all .4s ease;    /* zoom in */
    cursor: pointer;
}

.trip-listitem h3 {
    text-align: center;
    color: var(--black);
}

/* code partially from https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text */
.trip-listitem p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0em 1em 0em;
    color: var(--black);
}


/* ────────────────────────────────────────────────────────────── */

/* || MEDIA QUERIES 
 _______  _______  ______  _________ _______    _______           _______  _______ _________ _______  _______ 
(       )(  ____ \(  __  \ \__   __/(  ___  )  (  ___  )|\     /|(  ____ \(  ____ )\__   __/(  ____ \(  ____ \
| () () || (    \/| (  \  )   ) (   | (   ) |  | (   ) || )   ( || (    \/| (    )|   ) (   | (    \/| (    \/
| || || || (__    | |   ) |   | |   | (___) |  | |   | || |   | || (__    | (____)|   | |   | (__    | (_____ 
| |(_)| ||  __)   | |   | |   | |   |  ___  |  | |   | || |   | ||  __)   |     __)   | |   |  __)   (_____  )
| |   | || (      | |   ) |   | |   | (   ) |  | | /\| || |   | || (      | (\ (      | |   | (            ) |
| )   ( || (____/\| (__/  )___) (___| )   ( |  | (_\ \ || (___) || (____/\| ) \ \_____) (___| (____/\/\____) |
|/     \|(_______/(______/ \_______/|/     \|  (____\/_)(_______)(_______/|/   \__/\_______/(_______/\_______)

Thin Screen 1-1
Ultrawide 1-1                                                                                              
*/


@media (min-width:801px) {
    .menu {
        float: right;
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
        list-style-type: none;
    }

    .hamburger-toggle-container img {
        display: none;
    }
}

/* Small screen */
@media (max-width: 800px) {
    section {
        scroll-margin: 10vh;
    }

    article {
        width: 100%;
        min-width: auto;
    }

    .menu {
        background-color: var(--primarycolor);
        padding-left: 0;
        position: absolute;
        z-index: 10;
        top: 3.5rem;
        right: 1.5rem;
        flex-direction: column;
        list-style-type: none;
    }

    .menu-icon {
        display: block;
        width: 40px;
        height: 40px;
    }

    .menu li {
        z-index: 11;
        overflow: hidden;
        height: 0px;
    }

    .hamburger-toggle-container {cursor: pointer;}    

    #burger-toggle:checked~.menu li {
        position: relative;
        transition-duration: 0.3s;
        height: 3rem;
        padding-top: 0.7rem;
        padding: 0.5rem;
    }

    .colorbox {
        display: none;
        height: none;
    }

    .firstmedia,
    video {
        border: none;
        width: 100%;
        margin-top: 1vh;
        margin-left: 1vw;
        padding-right: 2vw;
    }

    .pagenavigationsection{
        flex-direction: column;
        gap: 0;
        margin-left: 13vw;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .tag-wrap{max-width: fit-content;}

    .field-of-study {
        overflow: hidden;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 0;
    }

    .skiplinklist{
        overflow: hidden;
        display: none;
    }

    .card-wrapper>section {
        width: 80%;
        margin: 6px;
    }

    .footer-top {
        grid-row: 1;
        grid-column: 1;
    }

    .lenker,
    .sosiale,
    .info {
        justify-self: auto;
        padding-left: 10%;
    }

    .lenker {
        grid-row: 2;
        grid-column: 1;
    }

    .info {
        grid-row: 1;
        grid-column: 1;
    }

    .sosiale {
        grid-row: 3;
        grid-column: 1;
    }

    footer img {
        padding: 1%;
        vertical-align: middle;
    }

    .git-table{
        overflow-x: auto; 
        width: 98%;
    }
    .git-table td:nth-child(1){
        min-width: 10%;
    }
    .git-table td:nth-child(2){
        min-width: 30%;
    }
    .git-table td:nth-child(3){
        max-width: 5%;

    }
    .tablewrapper{
        display: flex; 
        flex-direction: column;
        max-width: 98%;
        margin: auto;
    }
    .accessability-table{
        width: 100%;
    }
    .accessability-table td:nth-child(1){
        width: 5%;
    }
    .accessability-table td:nth-child(2){
        width: 65%;
    }
}

@media (max-width: 1500px) {
    .year-wrapper {
        grid-template-rows: auto;
    }

    .semester-wrapper {
        grid-template-rows: auto;
        grid-template-columns: 45vw minmax(auto, 5vw) 45vw;
        width: 100%;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .semester01 {
        grid-row: 1;
        grid-column: 1;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #f1f1f1;
    }

    .semester02 {
        grid-row: 1;
        grid-column: 3;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #f1f1f1;
    }

    .year-wrapper .year1,
    .year-wrapper .year2,
    .year-wrapper .year3 {
        grid-column: 1;
    }

    .year1,
    .year2,
    .year3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .year1 {grid-column: 1;}
    .year2 {grid-column: 3;}
    .year3 {grid-column: 5;}


    /* Flips the grid to be vertical instead of horizontal */
    /* swapped row with column, and vice versa */
    /* First semester */
    .course0101-box {
        grid-column: 1;
        grid-row: 2/4;
    }

    .course0102-box {
        grid-column: 1;
        grid-row: 4/6;
    }

    .course0103-box {
        grid-column: 1;
        grid-row: 6/7;
    }

    .course0104-box {
        grid-column: 1;
        grid-row: 7/8;
    }

    /* Second semester */
    .course0201-box {
        grid-column: 3;
        grid-row: 2/4;
    }

    .course0202-box {
        grid-column: 3;
        grid-row: 4/6;
    }

    .course0203-box {
        grid-column: 3;
        grid-row: 6/8;
    }

    /* Third semester */
    .course0301-box {
        grid-column: 1;
        grid-row: 2/4;
    }

    .course0302-box {
        grid-column: 1;
        grid-row: 4/6;
    }

    .course0303-box {
        grid-column: 1;
        grid-row: 6/8;
    }

    /* Fourth semester */
    .course0401-box {
        grid-column: 3;
        grid-row: 2/4;
    }

    .course0402-box {
        grid-column: 3;
        grid-row: 4/6;
    }

    .course0403-box {
        grid-column: 3;
        grid-row: 6/8;
    }

    /* Fifth semester */
    .course0501-box {
        grid-column: 1;
        grid-row: 2/4;
    }

    .course0502-box {
        grid-column: 1;
        grid-row: 4/6;
    }

    .course0503-box {
        grid-column: 1;
        grid-row: 6/8;
    }

    /* Sixth semester */
    .course0601-box {
        grid-column: 3;
        grid-row: 2/6;
    }

    .course0602-box {
        grid-column: 3;
        grid-row: 6/8;
    }
}

@media only screen and (min-width:2000px) {
    video {
        margin-top: -30%;
    }
}