/* CSS STRUCTURE
    General Styles
    Utilities
    Site Wide
    Thin Screen
    Ultrawide
*/

/* || GENERAL STYLES */
html{
    background-color: var(--oslometgul);
}
:root{
    --oslometgul:hsl(50,100%, 50%);
    --courseboxes: hsl(0, 0%, 75%);
}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    text-align: center;
    overflow: hidden;
}
header{
    background-color: var(--oslometgul);
    width: 100%;
}


footer{
    text-align: center;
    background-color: var(--oslometgul);
    padding: 3px;
    /*position: sticky; | Tore har liten skjerm*/ 
    bottom: 0px;
}
footer h2 {
    padding: 5px;
}
footer h3 a{
    background-color: #111;
    padding: 15px;
    color: white;
}
footer a {
    text-decoration: none;
    color: #111;
}
footer ol {
    list-style: none;
    font-weight: 700;
}
footer section {
    display: flex;
    flex-direction: row;
}
video{
    padding: 10px;
    padding-top: 50px;
    width: 80%;
    max-width: 1000px;
}
table, th, td{
    border-width:1px;
    border-style: solid;
    border-color: black;
}


/* || UTILITIES */
.top-border{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:  black;
    padding: 10px
}
.logo{
    width: 10%;
    min-width: 150px;
    padding: 20px;
}
.container-side-by-side{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.center{
    margin-left:auto;
    margin-right:auto;
}


/* || Bachelor Structure */
/* classes related to the preview of semesters through the bachelor degree */
/* classes for the coruses are numerated by semester then class, 
course0203-box would be the box for the third class in the second semester*/
.emnegruppe{
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
 .year-wrapper{
    display: inline-grid;
    grid-template-columns: 25vw 10px 25vw 10px 25vw;
    justify-items: center;
 }
.semester-wrapper{
    display: grid;
    grid-template-columns: 10vw 0.5vw 10vw;
    grid-auto-rows: 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh;
    height: 100%;
    width: 100%;
    grid-gap: 0.5vw;
}
.semester-wrapper a{
    text-decoration: none;
}
.studieaar1{
    grid-column: 1;
}
.studieaar2{
    grid-column: 3;
}
.studieaar3{
    grid-column: 5;
}

.semester01{
    grid-column: 1;
}
.semester02{
    grid-column: 3;
}
.valgfag{
    grid-column: 1/4;
    grid-row: 8/13;
    background-color: coral;
}

.course0101-box,
.course0102-box,
.course0103-box,
.course0104-box,
.course0201-box,
.course0202-box,
.course0203-box,
.course0301-box,
.course0302-box,
.course0303-box,
.course0401-box,
.course0402-box,
.course0403-box,
.course0501-box,
.course0502-box,
.course0503-box,
.course0601-box,
.course0602-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--courseboxes);
    width: 100%;
    border-radius: 15px;
}
/* First semester */
.course0101-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0102-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0103-box{
    grid-column: 1;
    grid-row: 6/7;
}
.course0104-box{
    grid-column: 1;
    grid-row: 7/8;
}
/* Second semester */
.course0201-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0202-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0203-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Third semester */
.course0301-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0302-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0303-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Fourth semester */
.course0401-box{
    grid-column: 3;
    grid-row: 2/4;
}
.course0402-box{
    grid-column: 3;
    grid-row: 4/6;
}
.course0403-box{
    grid-column: 3;
    grid-row: 6/8;
}
/* Fifth semester */
.course0501-box{
    grid-column: 1;
    grid-row: 2/4;
}
.course0502-box{
    grid-column: 1;
    grid-row: 4/6;
}
.course0503-box{
    grid-column: 1;
    grid-row: 6/8;
}
/* Sixth semester */
.course0601-box{
    grid-column: 3;
    grid-row: 2/6;
}
.course0602-box{
    grid-column: 3;
    grid-row: 6/8;
}

/* || Bachelor structure Small screen */
@media only screen and (max-width: 800px){
    .year-wrapper .studieaar1,
    .year-wrapper .studieaar2,
    .year-wrapper .studieaar3{
        grid-column: 1/ -1;
        width: 100%;
    }
    .studieaar1,
    .studieaar2,
    .studieaar3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .semester-wrapper{
        width: 80Vw;
        justify-content: center;
        align-items: center;
        background-color: chocolate;
    }

}


  
/* || SITEWIDE */
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}
.navlist a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
/* Change the link color to #111 (black) on hover */
.navlist a:hover {
    background-color: #111;
  }


/* || THINSCREEN */
/* all elements inside of this will only display when max monitor size is 800 px wide */
@media only screen and (max-width: 800px){
    /*article {
        width: 100%;
        min-width: 200px;
        margin: 10px;
        border-style: double;
        border-color: black;
    }*/

    video{
        width: 100%;
        margin: 10px;
    }
}


/* Center Pointlist*/
.pointList{
    margin-left: 50%;
    transform: translateX(-50%);
}
.pointList > ul{
    display: inline-block;
    text-align: left;
}

/* standard sections */
.img-with-text-section{
  padding: 2%;
  align-self: center;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
}


/* Activity specific */
.hero-activity {  
    position: relative;
    width: 100%;
    object-fit: cover;
    text-align: center;
    color: white;
}
.hero-activity-img{  
    filter: blur(4px) brightness(0.6);
}
.activity-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-article-activity{
  height: 15vmax;
  width: 50vmax;
}


/* || ULTRAWIDE */

.jorndev{
    background-color: rgb(159, 159, 255);
}